<!-- Services-->
        <section class="page-section" id="provider-list">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <a href="/providers/add-provider/" class="btn btn-primary mb-2">Add new Provider</a>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Position</th>
                                <th scope="col">Company</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each providers}}
                            <tr>
                                <td scope="row">{{ id }}</td>
                                <td scope="row">{{ firstname }}</td>
                                <td scope="row">{{ lastname }}</td>
                                <td scope="row">{{ position }}</td>
                                <td scope="row">{{ company.companyname }}</td>
                                <td scope="row">
                                    <a href="/providers/details/{{id}}" class="btn btn-info btn-sm">More Info...</a>
                                    <a href="/providers/edit/{{id}}" class="btn btn-secondary btn-sm">Edit</a>
                                    <a href="#deleteModal{{id}}" data-bs-toggle="modal" data-bs-target="#deleteModal{{id}}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete these records. This process can't be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="/providers/delete/{{id}}" class="btn btn-danger">Delete</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>